<footer>
   <div class="footer__parent">
      <div class="footer_top">
         <div>
            <div class="footer_title">THÔNG TIN LIÊN HỆ</div>
            <div class="list_footer">
               <div>
                  Địa chỉ: 273 An Dương Vương, Phường 8, Quận 5, Thành phố
                  Hồ Chí Minh
               </div>
               <div>Hotline: 0388 697 342</div>
               <div>Zalo: 0388 697 342</div>
               <div>Email: deadlinetime@gmail.com</div>
               <div class="list_footer_img">
                  <div class="link-icon">
                     <img
                        th:src="@{/images/icon/facebook.png}"
                        alt="facebook"
                     />
                  </div>
                  <div class="link-icon">
                     <img
                        th:src="@{/images/icon/youtube.png}"
                        alt="youtube"
                     />
                  </div>
                  <div class="link-icon">
                     <img
                        th:src="@{/images/icon/images.png}"
                        alt="images"
                     />
                  </div>
                  <div class="link-icon">
                     <img th:src="@{/images/icon/zalo.webp}" alt="zalo" />
                  </div>
               </div>
            </div>
         </div>
         <div class="map">
            <iframe
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37290.80751769916!2d106.64293002453445!3d10.756565289380958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b7c3ed289%3A0xa06651894598e488!2sSaigon%20University!5e0!3m2!1sen!2s!4v1679928772147!5m2!1sen!2s"
               width="500"
               height="300"
               style="border: 0"
               allowfullscreen=""
               loading="lazy"
               referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
         </div>
      </div>
      <div class="footer_center">
         <div class="footer_center_primary">
            <div class="ptth">
               <div class="footer_title">Phương thức thanh toán</div>
               <div class="ptth_1">
                  <div>
                     <img th:src="@{/images/icon/qrcode.svg}" />
                     <p>QR Code</p>
                  </div>
                  <div>
                     <img th:src="@{/images/icon/tienmat.svg}" />
                     <p>Tiền mặt</p>
                  </div>
                  <div>
                     <img th:src="@{/images/icon/nganhang.svg}" alt="" />
                     <p>Internet Banking</p>
                  </div>
               </div>
            </div>
            <div class="dsnh">
               <div class="footer_title">
                  <p>Danh sách các ngân hàng thanh toán online:</p>
                  <img th:src="@{/images/icon/vnpay_banks.png}" />
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="copyright">
      <div class="copyright-primary">
         <p>© Bản quyền thuộc về Deadline Time</p>
      </div>
   </div>
</footer>