* {
   box-sizing: border-box;
   font-family: "Quicksand", sans-serif;
}

table, th, tr {
  border: 1px solid;
}

.form-content {
    margin-bottom: 20px;
}

.my-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
