<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Shopping cart</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1><a th:href = "@{/}">Home</a></h1>
        <div class="cart">
            <div class="modal-cart">
                <div class="cart-head">
                    <h1>Giỏ hàng</h1><i class="fas fa-times" onclick="closeModal($('.cart'))"></i>
                </div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Unit</th>
                        <th>Amount</th>
                        <th>Total</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each = "item : ${cartList}">
                        <th th:text = "${item.vegetable.vegetableID}"></th>
                        <th th:text = "${item.vegetable.VegetableName}"></th>
                        <th><img th:src = "@{/{image} (image = ${item.vegetable.image})}" width="50" height="50" th:alt="${item.vegetable.vegetableName}"/></th>
                        <th id="price" th:text = "${item.vegetable.price}"></th>
                        <th th:text = "${item.vegetable.unit}"></th>
                        <th>
                            <form th:action="@{/shoppingcart/update}" method="post">
                                <input type="hidden" th:value="${item.vegetable.vegetableID}" name="id">
                                <input id="quantity" name = "quantity" type="number" th:value = "${item.quantity}" min = "1" th:max = "${item.vegetable.amount}">
                                <button type="submit">Update</button>
                            </form>
                        </th>
                        <th id="total" th:text = "${item.vegetable.price * item.quantity}"></th>
                        <th><a th:href = "@{/shoppingcart/delete/{id} (id = ${item.vegetable.vegetableID})}">Delete</a></th>
                    </tr>         
                </table>
                <div class="cart-footer">
                    <div class="total-price-cart">
                        <span>Tổng :</span> <span class="total-price" th:text = "${total}">0 đ</span>
                    </div>
                    <button class="continue"><a th:href = "@{/vegetable}">Tiếp tục mua hàng</a></button>
                    <button class="clean-cart"><a th:href = "@{/shoppingcart/clear}">Xóa hết</a></button>
                    <button class="pay-cart"><a th:href="@{/orders/add}">Đặt hàng >></a></button>
                </div>
            </div>
        </div>
    </body>
    <!--    <script>
            let quantityItem = document.querySelector("input#quantity");
            quantityItem.addEventListener('change', (e) => {
                let totalItem = document.querySelector("th#total");
                let total = parseFloat(e.target.value) * parseFloat(document.querySelector("th#price").textContent);
                totalItem.innerHTML = total;
            })
        </script>-->
</html>
