<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Cart</title>
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <link rel="stylesheet" th:href="@{/css/cart.css}" />
   </head>
   <body>
      <header th:replace="~{fragments/header :: header}"></header>
      <div class="content">
         <div class="container">
            <div class="box-product-cart">
               <div class="box-product">
                  <div class="box-product-title box">
                     <div class="product_img">Hình Ảnh</div>
                     <div class="product_name">Tên Sản Phẩm</div>
                     <div class="product_price">Đơn Giá</div>
                     <div class="product_quantity">Số Lượng</div>
                     <div class="product_total">Tổng Tiền</div>
                     <div class="product_function"></div>
                  </div>
                  <div class="product box" th:each="item : ${cartList}">
                     <div class="product_img">
                        <img
                           th:src="@{/{image} (image = ${item.vegetable.image})}"
                           width="50"
                           height="50"
                           th:alt="${item.vegetable.vegetableName}"
                        />
                     </div>
                     <div class="product_name">
                        <p th:text="${item.vegetable.VegetableName}"></p>
                     </div>
                     <div class="product_price">
                        <p th:text="${item.vegetable.price} + ' đ'"></p>
                     </div>
                     <div class="product_quantity">
                        <form
                           th:action="@{/shoppingcart/update}"
                           method="post"
                           id="updateProduct"
                        >
                           <input
                              type="hidden"
                              th:value="${item.vegetable.vegetableID}"
                              name="id"
                           />
                           <input
                              type="hidden"
                              th:value="${item.quantity}"
                              name="quantity"
                              th:max="${item.vegetable.amount}"
                              min="1"
                              th:id="${item.vegetable.VegetableName}"
                           />
                           <button type="submit" class="decre">
                              <a href="#" class="decre"
                                 ><i class="fa fa-minus"></i
                              ></a>
                           </button>
                           <p th:text="${item.quantity}"></p>
                           <button type="submit" class="incre">
                              <a href="#" class="incre"
                                 ><i class="fa fa-plus"></i
                              ></a>
                           </button>
                        </form>
                     </div>
                     <div class="product_total">
                        <p
                           th:text="${item.vegetable.price * item.quantity} + ' đ'"
                        ></p>
                     </div>
                     <div class="product_function">
                        <a
                           class="open-modal-btn"
                           th:href="@{/shoppingcart/delete/{id} (id = ${item.vegetable.vegetableID})}"
                           ><i class="fa fa-trash"></i
                        ></a>
                     </div>
                  </div>
               </div>
               <div class="back-product">
                  <a th:href="@{/}">
                     <div class="btn-back-product">
                        <i class="fa fa-long-arrow-left">
                           Tiếp tục xem sản phẩm</i
                        >
                     </div>
                  </a>
               </div>
            </div>
            <div class="box-order">
               <form th:action="@{shoppingcart/orders/add}" method="post">
                  <div class="box-order-title">
                     <h4>THANH TOÁN</h4>
                  </div>
                  <div class="information">
                     <div class="information_title">Note:</div>
                     <br />
                     <textarea name="note" id=""></textarea>
                  </div>
                  <div class="pay-bill">
                     <div class="title-bill">
                        <!-- <div class="total-product">Tổng tiền hàng:</div> -->
                        <div class="total-pay">Tổng thanh toán:</div>
                     </div>
                     <div class="price-bill">
                        <!-- <div class="total-product">30.000 đ</div> -->
                        <div class="total-pay" th:text="${total}"></div>
                     </div>
                  </div>
                  <div class="btn-pay-bill">
                     <div class="btn-pay-bill-primary">
                        <button type="submit" name="btn_checkout">
                           Đặt hàng
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <footer th:replace="~{fragments/footer :: footer}"></footer>
   </body>
   <script th:inline="javascript">
      let btnDecrQuantity = document.querySelectorAll(
         "#updateProduct button.decre"
      );
      let btnIncrQuantity = document.querySelectorAll(
         "#updateProduct button.incre"
      );
      let quantity = document.querySelectorAll('input[name="quantity"]');

      for (let i = 0; i < btnDecrQuantity.length; i++) {
         btnDecrQuantity[i].addEventListener("click", () => {
            quantity[i].value--;
         });
         btnIncrQuantity[i].addEventListener("click", () => {
            quantity[i].value++;
         });
      }
   </script>
</html>
