<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Customer List</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Fullname</th>
                <th>Password</th>
                <th>Address</th>
                <th>City</th>
                <th>Select</th>
            </tr>
            <tr th:each = "customer : ${customerList}">
                <th th:text = "${customer.customerID}"></th>
                <th th:text = "${customer.fullname}"></th>
                <th th:text = "${customer.password}"></th>
                <th th:text = "${customer.address}"></th>
                <th th:text = "${customer.city}"></th>
                <th><a th:href="@{./customers/{id}(id = ${customer.customerID})}" target="_self">Detail</a></th>
            </tr>
        </table>
    </body>
</html>
