<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <link rel="stylesheet" th:href="@{/css/index.css}" />
      <title>ShopMarket</title>
   </head>

   <body>
      <header>
         <div class="header_top">
            <div class="header_top_primary" th:switch="${session.user != null}">
               <ul th:case="false">
                  <li>
                     <a th:href="@{/register}"
                        ><i class="fa fa-lock"></i>Đăng ký</a
                     >
                  </li>
                  <li>|</li>
                  <li>
                     <a th:href="@{/login}"
                        ><i class="fa fa-user"></i>Đăng nhập</a
                     >
                  </li>
                  <li>|</li>
                  <li><i class="fa fa-fax"></i>Liên hệ: 18001001</li>
                  <li></li>
               </ul>
               <ul th:case="true">
                  <li><a th:href="@{/logout}">Đăng xuất</a></li>
                  <li>|</li>
                  <li th:text="'Hello ' + ${session.user.fullname}"></li>
                  <li>|</li>
                  <li><i class="fa fa-fax"></i>Liên hệ: 18001001</li>
               </ul>
            </div>
         </div>
         <div class="header_center">
            <div class="header_center_primary">
               <div class="logo">
                  <a th:href="@{/}"><img th:src="@{images/icon/logo.png}" /></a>
               </div>
               <form
                  class="form-content"
                  th:action="@{/searchvegetable}"
                  th:object="${search}"
                  target="_self"
                  method="get"
               >
                  <div class="search">
                     <input
                        type="text"
                        class="form-input"
                        name="vegetableName"
                        placeholder="Nhập từ khóa cần tìm"
                     />
                     <button type="submit"><i class="fa fa-search"></i></button>
                  </div>
               </form>

               <div class="cart">
                  <a th:href = "@{/shoppingcart}">
                     <i class="fa fa-shopping-cart"></i>
                     <div
                        class="number_cart"
                        th:text="'Giỏ hàng của bạn (' + ${cartLength} + ') sản phẩm'"
                     ></div>
                  </a>
               </div>
            </div>
         </div>
      </header>
      <div class="content">
         <div class="container">
            <div class="container_primary">
               <div class="left">
                  <div class="range">
                     <div class="range-title">Khoảng giá</div>
                     <div class="range-price">
                        <input type="number" name="min" value="0" />
                        <div></div>
                        <input type="number" name="max" value="120000000" />
                     </div>
                     <div class="range-slider">
                        <span class="range-selected"></span>
                     </div>
                     <div class="range-input">
                        <input
                           type="range"
                           class="min"
                           min="0"
                           max="120000000"
                           value="0"
                           step="10"
                        />
                        <input
                           type="range"
                           class="max"
                           min="0"
                           max="120000000"
                           value="120000000"
                           step="10"
                        />
                     </div>
                  </div>
                  <div class="line"></div>
                  <div class="category">
                     <div class="category_primary">
                        <a onclick="openCategory()">
                           <div class="category_title">
                              <div>Danh mục</div>
                              <div class="icon-container">
                                 <i class="fa fa-angle-down"></i>
                              </div>
                           </div>
                        </a>
                        <div class="list_category hide" id="list_category">
                           <form
                              class="form-content"
                              th:action="@{/searchvegetable}"
                              th:object="${search}"
                              target="_self"
                              method="get"
                           >
                              <div
                                 class="wrapper"
                                 th:each="category : ${categoryList}"
                              >
                                 <input
                                    type="radio"
                                    name="catagoryID"
                                    class="switch-toggle"
                                    th:id="${category.name}"
                                    th:value="${category.catagoryID}"
                                 />
                                 <label
                                    th:for="${category.name}"
                                    th:text="${category.name}"
                                    >Fruit</label
                                 >
                              </div>
                              <button type="submit">Tìm kiếm</button>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="right">
                  <div class="right-top">
                     <div class="right-top-primary">
                        <div class="right-top-title">Sắp xếp theo</div>
                        <div class="right-top-list">
                           <!-- <div>Khuyến mãi</div> -->
                           <div><a th:href="@{/bestsale}">Bán chạy</a></div>
                           <!-- <div>Mới nhất</div> -->
                           <!-- <select name="" id="">
                              <option value="">Chọn</option>
                              <option value="">Giá từ thấp đến cao</option>
                              <option value="">Giá từ cao đến thấp</option>
                           </select> -->
                        </div>
                     </div>
                  </div>
                  <div class="right-center">
                     <div class="right-center-primary">
                        <div class="list-product">
                           <div
                              class="product"
                              th:each="vegetable : ${vegetableList}"
                           >
                              <form>
                                 <div class="product_img">
                                    <img
                                       th:src="@{/{image} (image = ${vegetable.image})}"
                                       th:alt="${vegetable.vegetableName}"
                                    />
                                 </div>
                                 <div class="product_category">
                                    <p th:text="${vegetable.category.name}"></p>
                                 </div>
                                 <div class="product_name">
                                    <p th:text="${vegetable.VegetableName}"></p>
                                 </div>
                                 <div class="product_price">
                                    <p
                                       th:text="${vegetable.price} + ' per ' + ${vegetable.unit}"
                                    ></p>
                                 </div>
                                 <div class="btn-add-product">
                                    <a
                                       th:href="@{/shoppingcart/add/{id} (id = ${vegetable.vegetableID})}"
                                       >Add To Cart</a
                                    >
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="right-bottom">
                     <div class="right-bottom-primary">
                        <div class="page">
                           <div>
                              <p><i class="fa fa-angle-left"></i></p>
                           </div>
                           <div><p>1</p></div>
                           <div>
                              <p><i class="fa fa-angle-right"></i></p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer>
         <div class="footer__parent">
            <div class="footer_top">
               <div>
                  <div class="footer_title">THÔNG TIN LIÊN HỆ</div>
                  <div class="list_footer">
                     <div>
                        Địa chỉ: 273 An Dương Vương, Phường 8, Quận 5, Thành phố
                        Hồ Chí Minh
                     </div>
                     <div>Hotline: 0388 697 342</div>
                     <div>Zalo: 0388 697 342</div>
                     <div>Email: deadlinetime@gmail.com</div>
                     <div class="list_footer_img">
                        <div class="link-icon">
                           <img
                              th:src="@{/images/icon/facebook.png}"
                              alt="facebook"
                           />
                        </div>
                        <div class="link-icon">
                           <img
                              th:src="@{/images/icon/youtube.png}"
                              alt="youtube"
                           />
                        </div>
                        <div class="link-icon">
                           <img
                              th:src="@{/images/icon/images.png}"
                              alt="images"
                           />
                        </div>
                        <div class="link-icon">
                           <img th:src="@{/images/icon/zalo.webp}" alt="zalo" />
                        </div>
                     </div>
                  </div>
               </div>
               <div class="map">
                  <iframe
                     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37290.80751769916!2d106.64293002453445!3d10.756565289380958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b7c3ed289%3A0xa06651894598e488!2sSaigon%20University!5e0!3m2!1sen!2s!4v1679928772147!5m2!1sen!2s"
                     width="500"
                     height="300"
                     style="border: 0"
                     allowfullscreen=""
                     loading="lazy"
                     referrerpolicy="no-referrer-when-downgrade"
                  >
                  </iframe>
               </div>
            </div>
            <div class="footer_center">
               <div class="footer_center_primary">
                  <div class="ptth">
                     <div class="footer_title">Phương thức thanh toán</div>
                     <div class="ptth_1">
                        <div>
                           <img th:src="@{/images/icon/qrcode.svg}" />
                           <p>QR Code</p>
                        </div>
                        <div>
                           <img th:src="@{/images/icon/tienmat.svg}" />
                           <p>Tiền mặt</p>
                        </div>
                        <div>
                           <img th:src="@{/images/icon/nganhang.svg}" alt="" />
                           <p>Internet Banking</p>
                        </div>
                     </div>
                  </div>
                  <div class="dsnh">
                     <div class="footer_title">
                        <p>Danh sách các ngân hàng thanh toán online:</p>
                        <img th:src="@{/images/icon/vnpay_banks.png}" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>

      <div class="copyright">
         <div class="copyright-primary">
            <p>© Bản quyền thuộc về Deadline Time</p>
         </div>
      </div>

      <script>
         let rangeMin = 0;
         const range = document.querySelector(".range-selected");
         const rangeInput = document.querySelectorAll(".range-input input");
         const rangePrice = document.querySelectorAll(".range-price input");
         rangeInput.forEach((input) => {
            input.addEventListener("input", (e) => {
               let minRange = parseInt(rangeInput[0].value);
               let maxRange = parseInt(rangeInput[1].value);
               if (maxRange - minRange < rangeMin) {
                  if (e.target.className === "min") {
                     rangeInput[0].value = maxRange - rangeMin;
                  } else {
                     rangeInput[1].value = minRange + rangeMin;
                  }
               } else {
                  rangePrice[0].value = minRange;
                  rangePrice[1].value = maxRange;
                  range.style.left = (minRange / rangeInput[0].max) * 100 + "%";
                  range.style.right =
                     100 - (maxRange / rangeInput[1].max) * 100 + "%";
               }
            });
         });
         rangePrice.forEach((input) => {
            input.addEventListener("input", (e) => {
               let minPrice = rangePrice[0].value;
               let maxPrice = rangePrice[1].value;
               if (
                  maxPrice - minPrice >= rangeMin &&
                  maxPrice <= rangeInput[1].max
               ) {
                  if (e.target.className === "min") {
                     rangeInput[0].value = minPrice;
                     range.style.left =
                        (minPrice / rangeInput[0].max) * 100 + "%";
                  } else {
                     rangeInput[1].value = maxPrice;
                     range.style.right =
                        100 - (maxPrice / rangeInput[1].max) * 100 + "%";
                  }
               }
            });
         });

         const iconContainer = document.querySelector(".icon-container");

         iconContainer.addEventListener("click", function () {
            this.classList.toggle("active");
         });

         function openCategory() {
            document.getElementById("list_category").classList.toggle("hide");
         }
      </script>
   </body>
</html>
