<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Login</title>
      <link rel="stylesheet" th:href="@{/css/style.css}" />
      <script type="text/javascript" th:src="@{/js/validator.js}"></script>
   </head>
   <body>
      <div class="signin form">
         <div class="sign_primary">
            <header>Login</header>
            <div class="form-overlay" th:text = "${ERROR}"></div>
            <form
               class="form-content"
               th:action="@{/checklogin}"
               target="_self"
               method="post"
            >
               <div class="form-group">
                  <label class="form-label">Username</label>
                  <input
                     class="form-input"
                     type="text"
                     name="username"
                     placeholder="Username"
                     value=""
                  />
                  <span class="message-error"></span>
               </div>
               <div class="form-group">
                  <label class="form-label">Password</label>
                  <input
                     class="form-input"
                     type="password"
                     name="password"
                     placeholder="Password"
                     value=""
                  />
                  <span class="message-error"></span>
               </div>
               <input type="submit" class="btn-login form-submit" value="Đăng nhập">
            </form>
            <div class="bottom">
               Not a member? <a th:href="@{/register}">Signup now</a>
            </div>
         </div>
      </div>
   </body>
   <script>
      const $ = document.querySelector.bind(document);
      const $$ = document.querySelectorAll.bind(document);

      Validator({
         form: ".form-content",
         formGroupSelector: ".form-group",
         errorSelector: ".message-error",
         rules: [
            Validator.isRequired(
               'input[name="username"]',
               "Vui lòng nhập email"
            ),
            Validator.isRequired(
               'input[name="password"]',
               "Vui lòng nhập mật khẩu"
            ),
         ],
      });

      function resetInput() {
         let inputs = $$("input");
         for (let input of inputs) {
            input.value = "";
         }
      }
      enableSubmit();

      function enableSubmit() {
         $("body").addEventListener("keypress", (e) => {
            if (e.keyCode === 13) $("button").click();
         });
      }
   </script>
</html>
